<xml xmlns="http://www.w3.org/1999/xhtml" collection="true">
  <block type="procedures_defreturn" id="}(aMq-zq$%(^{99~/|(%" collapsed="true" x="0" y="0">
    <mutation>
      <arg name="_list:"></arg>
      <arg name="_period:"></arg>
    </mutation>
    <field name="NAME">Donchian HH</field>
    <comment pinned="false" h="80" w="160">Опишите эту функцию…</comment>
    <statement name="STACK">
      <block type="variables_set" id="v*%`,DCg3csp4!yI:ol9">
        <field name="VAR">_high list</field>
        <value name="VALUE">
          <block type="ohlc_values_in_list" id="ALf4%(0a%J*^~MCYfZwe">
            <field name="OHLCFIELD_LIST">high</field>
            <value name="OHLCLIST">
              <block type="variables_get" id="36]NC=s]nF`,Q!}OGMS`">
                <field name="VAR">_list:</field>
              </block>
            </value>
          </block>
        </value>
      </block>
    </statement>
    <value name="RETURN">
      <block type="math_on_list" id="}Qg*U)Yz4[::4Co8(+mE">
        <mutation op="MAX"></mutation>
        <field name="OP">MAX</field>
        <value name="LIST">
          <block type="lists_getSublist" id="]nE;S^19w(D)nTGA+60q">
            <mutation at1="true" at2="false"></mutation>
            <field name="WHERE1">FROM_END</field>
            <field name="WHERE2">LAST</field>
            <value name="LIST">
              <block type="variables_get" id="TlFrKvot}`BG*$ppL~ra">
                <field name="VAR">_high list</field>
              </block>
            </value>
            <value name="AT1">
              <block type="variables_get" id="%QaVn`dZiT7|0~1UR?H[">
                <field name="VAR">_period:</field>
              </block>
            </value>
          </block>
        </value>
      </block>
    </value>
  </block>
  <block type="procedures_defreturn" id="AfLuGl~!4HRyPTJi^o#y" collapsed="true" x="0" y="52">
    <mutation>
      <arg name="_list:"></arg>
      <arg name="_period:"></arg>
    </mutation>
    <field name="NAME">Donchian LL</field>
    <comment pinned="false" h="80" w="160">Опишите эту функцию…</comment>
    <statement name="STACK">
      <block type="variables_set" id="{.X|bv}6?N$}/Oaz]mqF">
        <field name="VAR">_low list</field>
        <value name="VALUE">
          <block type="ohlc_values_in_list" id="@f]~oxRS,~,fUp6KH-DP">
            <field name="OHLCFIELD_LIST">high</field>
            <value name="OHLCLIST">
              <block type="variables_get" id="DfiT9C0^-Xj:2GEkvY/h">
                <field name="VAR">_list:</field>
              </block>
            </value>
          </block>
        </value>
      </block>
    </statement>
    <value name="RETURN">
      <block type="math_on_list" id="J|$8EIyaPi=4#,e%yEQA">
        <mutation op="MIN"></mutation>
        <field name="OP">MIN</field>
        <value name="LIST">
          <block type="lists_getSublist" id=",^Wz@gAd8kU!;X[7^It2">
            <mutation at1="true" at2="false"></mutation>
            <field name="WHERE1">FROM_END</field>
            <field name="WHERE2">LAST</field>
            <value name="LIST">
              <block type="variables_get" id="e}sj?86}gsgXLUS^^RE~">
                <field name="VAR">_low list</field>
              </block>
            </value>
            <value name="AT1">
              <block type="variables_get" id="`=~2wA7c}t$u#~IXxWM0">
                <field name="VAR">_period:</field>
              </block>
            </value>
          </block>
        </value>
      </block>
    </value>
  </block>
  <block type="procedures_defreturn" id="l|R68VOjoZa-*6pTFuyM" collapsed="true" x="0" y="104">
    <mutation>
      <arg name="_list:"></arg>
      <arg name="_period:"></arg>
    </mutation>
    <field name="NAME">Donchian Mdl</field>
    <comment pinned="false" h="80" w="160">Опишите эту функцию…</comment>
    <statement name="STACK">
      <block type="variables_set" id="K/?8Za7KougeU;SYIo1P">
        <field name="VAR">_high list</field>
        <value name="VALUE">
          <block type="ohlc_values_in_list" id="3286qy7kmjl5%D$r(!yC">
            <field name="OHLCFIELD_LIST">high</field>
            <value name="OHLCLIST">
              <block type="variables_get" id="1PQb22#x$?$soJAfKOu6">
                <field name="VAR">_list:</field>
              </block>
            </value>
          </block>
        </value>
        <next>
          <block type="variables_set" id="rl~T_SNJhtVZs0+Q.!{N">
            <field name="VAR">_low list</field>
            <value name="VALUE">
              <block type="ohlc_values_in_list" id="j5c|i5;?_QELLSFhU;3q">
                <field name="OHLCFIELD_LIST">high</field>
                <value name="OHLCLIST">
                  <block type="variables_get" id="KSiI$wkq%R.$8X*j/%+F">
                    <field name="VAR">_list:</field>
                  </block>
                </value>
              </block>
            </value>
          </block>
        </next>
      </block>
    </statement>
    <value name="RETURN">
      <block type="math_arithmetic" id="6)jsiK%tc_z]K@lvhw:/">
        <field name="OP">DIVIDE</field>
        <value name="A">
          <shadow type="math_number" id="8@}b|++s+(bG9g/JpvIO">
            <field name="NUM">1</field>
          </shadow>
          <block type="math_arithmetic" id="vJ;)nosvAmJu?rh9GcQv" inline="false">
            <field name="OP">ADD</field>
            <value name="A">
              <shadow type="math_number" id="Rcpt}bD/U?.K;2e$E;Tv">
                <field name="NUM">1</field>
              </shadow>
              <block type="math_on_list" id="SNN(Ofu@Amyv5A~z./ZV">
                <mutation op="MAX"></mutation>
                <field name="OP">MAX</field>
                <value name="LIST">
                  <block type="lists_getSublist" id="3?8mqeQYkILiwf}QIl7r">
                    <mutation at1="true" at2="false"></mutation>
                    <field name="WHERE1">FROM_END</field>
                    <field name="WHERE2">LAST</field>
                    <value name="LIST">
                      <block type="variables_get" id="beJIJ{_epX3Ki2e6Acrj">
                        <field name="VAR">_high list</field>
                      </block>
                    </value>
                    <value name="AT1">
                      <block type="variables_get" id="tYmf!zlqnHyP$i(bm{J0">
                        <field name="VAR">_period:</field>
                      </block>
                    </value>
                  </block>
                </value>
              </block>
            </value>
            <value name="B">
              <shadow type="math_number" id="_[N_u0b-#6e.~P6Y.gk^">
                <field name="NUM">1</field>
              </shadow>
              <block type="math_on_list" id="Z9(*6~8Z9d89WFclZo|g">
                <mutation op="MIN"></mutation>
                <field name="OP">MIN</field>
                <value name="LIST">
                  <block type="lists_getSublist" id=",^8:+JOoKPK#)GM0_fTs">
                    <mutation at1="true" at2="false"></mutation>
                    <field name="WHERE1">FROM_END</field>
                    <field name="WHERE2">LAST</field>
                    <value name="LIST">
                      <block type="variables_get" id="PcZnyx;i7W[|Z$3lCB-I">
                        <field name="VAR">_low list</field>
                      </block>
                    </value>
                    <value name="AT1">
                      <block type="variables_get" id="LfudT}HpMXJdPZ@`a`dC">
                        <field name="VAR">_period:</field>
                      </block>
                    </value>
                  </block>
                </value>
              </block>
            </value>
          </block>
        </value>
        <value name="B">
          <shadow type="math_number" id="^+n*JCqcNaws!ToeGzWt">
            <field name="NUM">1</field>
          </shadow>
          <block type="math_number" id="N+/]g?9Q0igL3qla67:h">
            <field name="NUM">2</field>
          </block>
        </value>
      </block>
    </value>
  </block>
</xml>
